<app-description></app-description>
<hr />

<div class="app-container">

    <ng-container #sourceAndDestinationCardAnchor></ng-container>

</div>

<ng-template #sourceTemplate>
    <app-card [cardType]="CardTypeEnum.SOURCE"></app-card>
</ng-template>

<ng-template #switchSourceAndDestinationButtonTemplate>
    <button type="button"
            class="btn btn-primary app-button app-switch-places-button"
            (click)="onSwitchPlacesClicked()">
        SWITCH PLACES
    </button>
</ng-template>

<ng-template #destinationTemplate>
    <app-card [cardType]="CardTypeEnum.DESTINATION"></app-card>
</ng-template>

<hr />

<div class="app-container" [ngClass]="{ 'app-switched': isSwitched }">

    <app-card [cardType]="CardTypeEnum.SOURCE"></app-card>

    <button type="button"
            class="btn btn-primary app-button app-switch-places-button"
            (click)="onSwitchPlacesWithCssClicked()">
        SWITCH PLACES
    </button>

    <app-card [cardType]="CardTypeEnum.DESTINATION"></app-card>

</div>
